/* fonts */
@font-face {
    font-family: 'Lato';
    src:url("fonts/Lato");
}

/* navigation tab */
.navigation{
    height: 120px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #1B1A21;
}
img{
    width: 50%;
}
/* navigation tab logo */
.logo_nav{
    position: absolute;
    left: 35px;
    top: 35px;
    bottom: 35px;
}
body{
    padding-top: 210px;
    padding-bottom: 40px;
}
.centered{
    margin-left: auto;
    margin-right: auto;
}
.circle_equalize{
    padding-bottom: 7.5px;
}
.circle_calendar{
    position: relative;
    background: #F9EDFF;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.calendar{
    background: linear-gradient(180deg, #AA00FF 0%, #00A3D7 100%);
    position: relative;
    top: 62.5px;
    height: 80px;
    width: 80px;
    border-radius: 10%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.under_circle{
    padding-bottom: 25px;
}

.book_demo{
    font-family: 'Lato-Black', serif;
    font-style: normal;
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    padding-bottom: 10px;
}
.two{
    text-align: center;
    width: 26em;
    margin-left: auto;
    margin-right: auto;
}

.column{
    padding-top: 15px;

}

.two_two_1{
    text-align: left;
    width: 26em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    padding-left: 50px;

}

.two_two_2{
    text-align: left;
    width: 26em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
}

.two_two_3{
    text-align: left;
    width: 26em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
}

.two_two_4{
    text-align: left;
    width: 26em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
}

.labels{
    font-family: 'Lato', serif;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    padding-right: 269px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: #4C4A57;
}

.labels_2{
    font-family: 'Lato', serif;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: #4C4A57;
}

.labels_3{
    font-family: 'Lato', serif;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    padding-right: 280px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: #4C4A57;
}

.qualified{
    font-family: 'Lato', serif;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    color: #1B1A21;
    font-weight: 700;
    text-align: center;
}

.calendar_qualified{
    background: linear-gradient(180deg, #AA00FF 0%, #00A3D7 100%);
    position: relative;
    top: 62.5px;
    height: 80px;
    width: 80px;
    border-radius: 10%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.qualified_p{
    font-family: 'Lato', serif;
    font-style: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 26px;
    color: #4C4A57;
}

.calendar_not_qualified{
    background: linear-gradient(180deg, #AA00FF 0%, #00A3D7 100%);
    position: relative;
    top: 62.5px;
    height: 80px;
    width: 80px;
    border-radius: 10%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}